:root {
  --content-max-width: 1400px;
}
:root {
  --vp-layout-max-width: 1600px;
}

.VPDoc .container {
  max-width: 1400px !important;
}

.VPDoc .content-container {
  max-width: 1000px !important;
}

/* Убрать ограничение ширины на главной */
.VPPage .VPContent,
.VPPage .VPContent > div,
.VPPage .container,
.VPPage .content,
.VPPage .content-container,
.VPPage .vp-doc {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Общий контейнер секций */
.section-container {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

/* Code */
:root {
    --vp-code-block-color: rgba(255, 255, 245, 0.86);
    --vp-font-family-mono: 'JetBrains Mono', 'Fira Code', monospace;
}
.dark {
    --vp-code-block-color: #F8F8F2;
    --vp-code-block-bg: #1A1B26;
}
.vp-doc [class*='language-'] code span {
}

.vp-doc h1:not(:first-child) {
    padding-top: 30px;
}
.vp-doc h1 {
    font-size: 40px;
    font-weight: 700;
}
.vp-doc h2 {
    font-size: 30px;
    font-weight: 700;
}

.vp-doc h1 + h2,
.vp-doc h1 + p + h2,
.vp-doc h1 + p + table + h2 {
  border-top: none;
  padding-top: 0;
}

.img-preview {
  text-align: center;
  margin-top: 16px;
}
.img-preview img {
  max-height: 400px;
  display: inline;
}
